{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="post-container">
    <div class="post-logo-container">
        <img src="{% static 'img/POST.png' %}" alt="Post Logo">
    </div>
    <form method="post">
        {% csrf_token %}
        <input type="text" id="title" name="title" placeholder="Title" required>
        <textarea id="content" name="content" placeholder="Content" rows="6" required></textarea>
        <div class="send">
            <button type="submit">SEND</button>
        </div>
    </form>
</div>
{% endblock %}